<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Image Gallery Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7690be">  <td>18/05/25 08:55:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:qaf.example.tests.ImageGallery@dc9876b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1438988851</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/05/25 08:55:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:qaf.example.tests.ImageGallery@dc9876b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1438988851</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>18/05/25 08:55:06</td>   <td>34</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:qaf.example.tests.ImageGallery@dc9876b]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1438988851</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/05/25 08:55:06</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:qaf.example.tests.ImageGallery@dc9876b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1438988851</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/05/25 08:55:00</td>   <td>-6398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ImageGallery.imageGalleryDemo()[pri:1, instance:qaf.example.tests.ImageGallery@dc9876b]">imageGalleryDemo</td> 
  <td>main@1438988851</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>18/05/25 08:55:00</td>   <td>-6405</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:qaf.example.tests.ImageGallery@dc9876b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1438988851</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>18/05/25 08:55:00</td>   <td>-6401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:qaf.example.tests.ImageGallery@dc9876b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1438988851</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>18/05/25 08:55:00</td>   <td>-6413</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:qaf.example.tests.ImageGallery@dc9876b]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1438988851</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>18/05/25 08:55:00</td>   <td>-6409</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:qaf.example.tests.ImageGallery@dc9876b]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1438988851</td>   <td></td> </tr>
</table>
